<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="{{ metadata.url }}">
    <link rel="preconnect" href="{{ metadata.url }}">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" type="image/png" href="{{ metadata.favicon }}">
    <script src="/assets/script.js"></script>
    <link rel="me" href="{{ metadata.url }}" type="text/html">
    <link rel="me" href="mailto:{{ metadata.mail }}">
    <title>{% if title %}{{title}} - {% endif %}{{ metadata.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta property="og:locale" content="{{ metadata.lang }}">
    <meta property="og:site_name" content="{{ metadata.author }}">
    <meta property="og:title" content="{{ metadata.title }}">
    <meta property="og:url" content="{{ metadata.url }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ metadata.description }}">
    <meta property="og:image:url" content="{{ metadata.url }}{{ metadata.share }}">
    <meta property="og:image" content="{{ metadata.url }}{{ metadata.share }}">
</head>

<body>
    <div class="body">
        <div class="container {{type}}">
            <div class="title">
                <a href="/"><img src="/img/logo.png" alt="Koinonia Logo" class="logo"></a>
                <h1>{{ title }}</h1>
                <h2>{{ description }}</h2>
            </div>
            <div id="main-content" class="main-content">
                {{ content | safe }}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer">
            {% if links.Footer %}
            {% for link in links.Footer %}
            <a href="{{link.Url}}">{{ link.Title }}</a>
            {% endfor %}
            {% else %}
            Copyright &copy; {{ "now" | date: "%Y" }}&nbsp;<a href="{{metadata.orgurl}}" target="_blank">Koinonia
                Christian Fellowship</a>
            {% endif %}
        </div>
    </footer>
</body>

</html>